<h3>You inputted a height of: <%= @height %>, a width of: <%= @width %>, a length of: <%= @length %>.</h3>
<h3> The volume is  <%= @volume %>.</h3>
<h3><%= @string_to_display %></h3>
<h3>Your shipping cost is $<%= @shipping_cost %></h3>
<a href='/'>Return to home page</a>
